@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Mulish', sans-serif;
}

header {
    max-width: 1170px;
    margin: 0 auto;
}

/* banner styles start here */
#banner-section {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/bg1.png');
    border-radius: 16px;
    background-repeat: no-repeat;
    height: 500px;
}

.banner {
    padding: 106px 185px;
}

.banner-content {
    color: #FFF;
    text-align: center;
}

.banner-title {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.banner-des {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 40px;
}

/* banner select option styles */
.banner-search-bar .select-option {
    display: flex;
    gap: 24px;
}

/* banner search bar or filter bar styles */
.banner-filter-bar{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    
}
.banner-search-bar {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
    padding: 16px;
}

.banner-search-bar #input-banner {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #FFF;
    padding: 0 16px;
}

.dropdown>select {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    outline: none;
    padding: 16px 15px;
}

.btn-primary {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #FF5400;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    padding: 16px 34px;
}
/* main section styles start here */
main{
    max-width: 1170px;
    margin: 0 auto; 
}
/* our popular tour styles */
#popular-tour-section{
    display: flex;
    gap: 53px;
    margin-top: 100px;
}
.section-title{
    color: #131318;
font-size: 2.5rem;
font-weight: 800;
margin-bottom: 0px;
}
.popular-tour-des, ul{
    color: rgba(19, 19, 24, 0.70);
font-size: 1rem;
font-weight: 400;
margin-top: 24px;
}
ul>li{
    margin-top: 16px;
}
.section-des{
    color: #5A5A5D;
font-size: 1rem;
font-weight: 400;
margin-top: 24px;
}
.read{
    margin-top: 32px;
}