@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Mulish', sans-serif;
}

header {
    max-width: 1170px;
    margin: 0 auto;
}

/* nav styles start here */
.toggle-btn {
    display: none;
    cursor: pointer;
    font-size: 1.5em;
}

nav {
    display: flex;
    align-items: center;
}

.nav-container {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 50%;
}

.nav-container p {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.nav-container img {
    width: 48px;
    height: 56.008px;
}

.special {
    color: #FF5400;
}

.home-special {
    color: #FF5400;
    font-size: 1.12rem;
    font-weight: 700;
}

.items-container {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.items-container a {
    text-decoration: none;
    color: #424247;
    font-size: 1.12rem;
    font-weight: 400;
}

/* banner styles start here */
#banner-section {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/bg1.png');
    border-radius: 16px;
    background-repeat: no-repeat;
    height: 500px;
}

.banner {
    padding: 106px 185px;
}

.banner-content {
    color: #FFF;
    text-align: center;
}

.banner-title {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.banner-des {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 40px;
}

/* banner select option styles */
.banner-search-bar .select-option {
    display: flex;
    gap: 24px;
}

/* banner search bar or filter bar styles */
.banner-filter-bar {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);

}

.banner-search-bar {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
    padding: 16px;
}

.banner-search-bar #input-banner {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #FFF;
    padding: 0 16px;
}

.dropdown>select {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    outline: none;
    padding: 16px 15px;
}

.btn-primary {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #FF5400;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    padding: 16px 34px;
}
.btn-primary:hover{
    cursor: pointer;
    background-color: rgb(197, 39, 0);
}

/* main section styles start here */
main {
    max-width: 1170px;
    margin: 0 auto;
}

/* our popular tour styles */
#popular-tour-section {
    display: flex;
    gap: 53px;
    margin-top: 100px;
}

.section-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 0px;
}

.section-des,
ul {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
}

ul>li {
    margin-top: 16px;
}

.popular-tour-des {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
}

.read {
    margin-top: 32px;
}

/* destionation styles */
.section-text-title {
    text-align: center;
}

.section-text-des {
    text-align: center;
}

/* destination images styles */
.row {
    display: flex;
    gap: 24px;
    margin-top: 24px;
}

.row>img {
    width: 100%;
}

/* .maldives-img{
    position: relative;
}
.maldives-text{
    position: absolute;
    top: 132px;
} */

/* sundarban styles */
.sundarban {
    display: flex;
    gap: 50px;
    align-items: center;
}

.newest-travel-title {
    text-align: center;
    text-decoration: underline;
    margin-top: 100px;
}

.sundarban .sundarban-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.sundarban-content-text {
    color: green;
}

.special-sundarban {
    color: red;
}

.sundarban-img img {
    width: 320px;
    height: 250px;
    border-radius: 10px;
}

/* why choose section styles */
/* .why-choose-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
} */
.why-flex {
    display: flex;
    gap: 24px;
}

.hotel {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.hotel,
.service,
.price {
    width: 573px;
    height: 284px;
    align-items: center;
}

.service {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.price {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 0 auto;
    margin-top: 24px;
}

.hotel-content,
.service-content,
.price-content {
    padding: 32px;
}

.why-choose-container h3 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.why-choose-container p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

/* newsletter section styles */
#newsletter-section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.newsletter {
    display: flex;
    gap: 24px;
}

.newsletter-content {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 30px;
}

.newsletter-content h3 {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 0;
}

.newsletter-content p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
}

.newsletter-content hr {
    background: rgba(168, 168, 170, 0.1);
}

.newsletter-img {
    position: relative;
}


.form input[type="name"],
input[type="email"] {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    border: none;
    font-size: 1rem;
    font-weight: 400;
    padding: 16px 180px 16px 20px;
    margin-top: 16px;
}

.subscribe-btn {
    padding: 13px 150px;
    margin-top: 24px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 800;
}
.subscribe-btn:hover{
    cursor: pointer;
    background-color: rgb(180, 17, 17);
}

.save-up-badge {
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    padding: 5px;
    position: absolute;
    bottom: 70px;
    left: 325px;
}
.save-up-badge:hover{
    cursor: pointer;
    background-color: gold;
}

.save-up-badge p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 5px;
}

.save-up-badge h3 {
    font-size: 2rem;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 20px;
}

/* footer styles */
footer {
    background: rgba(19, 19, 24, 0.05);
}

#footer-section {
    padding: 100px 284px;
}

.footer-content {
    text-align: center;
}

.footer-title {
    display: flex;
    grid-area: 16px;
    align-items: center;
    gap: 16px;
    justify-content: center;
}

.footer-title img {
    width: 40px;
    height: 46.673px;
}

.footer-text {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

.footer-des {
    margin-top: 15px;
    margin-bottom: 30px;
}

.footer-icon {
    text-align: center;
    margin-bottom: 50px;
}

.footer-copyright {
    color: #131318;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    margin-top: 50px;
}

#hide {
    display: none;
}

.hide {
    display: none;
}


/* small/mobile screen responsive */
@media only screen and (max-width: 600px) {

    /* nav items responsive */
    .items-container {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #ffffff;
    }

    .items-container a {
        margin: 10px;
    }

    .toggle-btn {
        display: block;
        padding-right: 20px;
    }

    .nav-container p {
        font-size: 1rem;
    }

    .nav-container img {
        width: 30px;
        height: 30px;
    }

    /* banner section responsive */
    .banner {
        padding: 32px 24px;
    }

    .banner-title {
        font-size: 1.3rem;
        font-weight: 800;
        margin-bottom: 24px;
    }

    .banner-des {
        font-size: 0.8rem;
        font-weight: 400;
        margin-top: 0px;
        margin-bottom: 40px;
    }

    .banner-search-bar,
    .banner-search-bar .select-option {
        flex-direction: column;
    }

    .dropdown>select {
        width: 255px;
        height: 52px;
    }

    .banner-search-bar #input-banner {
        width: 222px;
        height: 52px;
    }

    .btn-primary {
        width: 255px;
    }

    /* popular tour section responsive */
    #popular-tour-section {
        flex-direction: column;
        width: 100%;
    }

    .section-title {
        font-size: 1.2rem;
    }

    .section-des,
    ul {
        font-size: 0.8rem;
        font-weight: 400;
    }

    .popular-tour-img img {
        width: 100%;
        height: 100%;
    }

    /* rewarded or sundarban travel section responsive */
    .newest-travel-title {
        padding-top: 50px;
            text-align: center;
            text-decoration: underline;
            margin-top: 0;
    }

    .sundarban {
        flex-direction: column;
    }

    .sundarban .sundarban-img {
        grid-template-columns: 1fr;
        padding-top: 20px;
    }

    /* why choose section responsive */
    .why-flex,
    .row,
    .newsletter {
        flex-direction: column;
    }

    .hotel,
    .service,
    .price {
        width: 100%;
    }

    /* newsletter section responsive */
    .form input[type="name"],
    input[type="email"] {
        padding: 16px 60px;
    }

    .subscribe-btn {
        padding: 13px 110px;
    }


    .newsletter-img img {
        width: 100%;
        height: 100%;
    }

    .save-up-badge {
        width: 200px;
        height: 79px;
        transform: rotate(-19.628deg);
        border-radius: 10px;
        background: #FF5400;
        color: #FFF;
        text-align: center;
        padding: 2px;
        position: absolute;
        bottom: 40px;
        left: 160px;
    }

    .save-up-badge p {
        font-size: 0.8rem;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .save-up-badge h3 {
        font-size: 1.2rem;
        font-weight: 800;
        margin-top: 0;
        margin-bottom: 20px;
    }

    /* footer section responsive */
    #footer-section {
        padding: 30px 44px;
    }
}